.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05e0e9;
  width: 70vw;
  height: 93vh;
}
.player_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #0c2d48;
  width: 30vw;
  height: 93vh;
}
.participants_list {
  list-style-type: none;
  font-size: x-large;
  overflow-y: auto;
}
.participants_list li {
  background-color: white;
  margin-bottom: 1vh;
  display: flex;
  padding: 1vh;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 40vh;
  width: 50vh;
  color: black;
}
.delete_p {
  font-weight: 900;
}
.delete_p:hover {
  background-color: red;
  color: white;
}
