.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player_list {
  width: 20vw;
  height: 93vh;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  background-color: #189ab4;
}
.participants_list {
  font-size: large;
  overflow-y: auto;
  list-style-type: none;
}
.participants_list li {
  width: 30vh;
  display: flex;
  padding: 0.5vh;
  color: white;
  margin-bottom: 1vh;
  margin-right: 20px;
  align-items: center;
  border-radius: 40vh;
  justify-content: center;
  background-color: #0c6980;
}
.delete_p {
  border: 0;
  font-weight: 900;
  border-radius: 25vw;
  background-color: white;
}
.delete_p:hover {
  color: white;
  overflow: hidden;
  border-radius: 25vw;
  background-color: red;
}
.list_name_div {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_container {
  height: 93vh;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cfeed1;
}
.title_top {
  font-size: 15vh;
  color: #ff2768;
  font-family: "Great Vibes", cursive;
}
.input_email_div,
.input_name_div {
  margin-bottom: 1vh;
}
.input_field {
  padding-left: 1vh;
}
.btn {
  width: 13vh;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.8vh;
}
::-webkit-scrollbar-thumb {
  background: #b8ee30;
  border-radius: 20vh;
}
